<!DOCTYPE html>
<html>
<head>
	<title>Add Medicine</title>
</head>
<body>
	<h1> Add User</h1>  
	<a href="/home">Back</a> |
	<a href="/logout">logout</a>

	<form method="post">
	<table width="300px" >
		<tr>
			<td width="35%">Uploader ID</td>
			<td width="2%">:</td>
			<td><input type="text" name="uploader_id" value=""></td>
		</tr>
		<tr>
			<td width="35%">Medicine Name</td>
			<td width="2%">:</td>
			<td><input type="text" name="medicine_name" value=""></td>
		</tr>
		<tr>
			<td>Medicine Company Name</td>
			<td width="2%">:</td>
			<td><input type="text" name="company_name" value=""></td>
		</tr>
		<tr>
			<td>Production Date</td>
			<td width="2%">:</td>
			<td><input type="text" name="production_date" value=""></td>
		</tr>
        
        <tr>
			<td width="35%">Expired Date</td>
			<td width="2%">:</td>
			<td><input type="text" name="expired_date" value=""></td>
		</tr>
		<tr>
			<td>Medicine type</td>
			<td width="2%">:</td>
			<td><input type="text" name="medicine_type" value=""></td>
		</tr>
		<tr>
			<td>Medicine Description</td>
			<td width="2%">:</td>
			<td><input type="text" name="medicine_description" value=""></td>
		</tr>

		<tr>
			<td></td>
			<td width="2%"></td>
			<td><input type="submit" name="update" value="Update"></td>
		</tr>
	</table>
	</form>
</body>
</html>