<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	
</head>
<body>
	<h1> Welcome Medicine shop, <%=name%></h1>  
	<a href="/home/profile">Profile</a> |
	<a href="/home/adduser">Add Medicine</a> |
	<a href="/home/userlist">Medicine List</a> |
	<a href="/home/frontpage">Customer Menu</a> |
	<a href="/logout">logout</a>


</body>
</html>